@tailwind base;
@tailwind components;
@tailwind utilities;

.justify-evenly {
	justify-content: space-evenly;
}

.button {
	@apply text-xl text-white font-semibold rounded-lg px-4 py-1 cursor-pointer;
	@apply bg-blue-500;
}

.button-lg {
	@apply px-8 py-4;
}

.button:hover {
	@apply bg-blue-600;
}

.button:active {
	@apply bg-blue-700;
}

.button:focus {
	outline: 0;
}

input[type=text] {
	@apply p-2;
}
